.idea/*
*.iml
composer.phar
*.DS_Store
composer.lock

# Bootstrap
app/bootstrap*

# Symfony directories
vendor/*
*/logs/*
*/cache/*
web/uploads/*
web/bundles/*

# Configuration files
app/config/parameters.ini
app/config/parameters.yml

server/web/bundles/
server/app/bootstrap.php.cache
server/app/cache/*
server/app/logs/*
server/build/
server/vendor
server/composer.phar
